@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

.pagination-elements {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 48px;
    padding-top: 105px;
    padding-bottom: 100px;
}

.pagination-elements button {
    padding: 0px;
    line-height: 0px;
    margin: 0;
    border: 0;
    height: 22px;
    width: 22px;
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    color: #ffffff;
    background: transparent;
}

.pagination-elements button:hover {
    background-color: rgba(96, 96, 96, 0.4);
    border-radius: 8px;
    cursor: pointer;
}

.pagBtn.selected {
    color: #CBD736;
    cursor: default;
}