@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

.character-card {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 224px;
    width: 224px;
    border-radius: 8px;
    border: 2px solid #606060;
}

.character-card img[data-isDead="true"] {
    filter: grayscale(1);
}

.character-card:hover {
    border: 2px solid #cbd736;
    filter: drop-shadow(0 0 0.5rem #cbd736);
    cursor: pointer;
}

.character-img {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.character-info {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    height: 54px;
    width: 100%;
    padding-left: 12px;
    backdrop-filter: blur(20px);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    font-family: Nunito, sans-serif;
    text-shadow: 1px 1px 0px black;
}

.character-info h2 {
    margin-top: 7px;
    max-height: 25px;
    max-width: 200px;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.character-info span {
    margin: 0;
    max-height: 15px;
    max-width: 200px;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
