@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

.textBox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 196px;
    height: 42px;
    font-family: Nunito, sans-serif;
    font-size: 16px;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 8px;
    background: transparent;
    padding-left: 10px;
    outline: none;
}

::placeholder {
    color: #9F9F9F;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}